.headerMenuCon {
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 335px;
  position: absolute;
  z-index: 999;
  right: 40px;
  top: 90px;
  background-color: #e3d3bc;
}

.userName {
  padding: 1.5rem 1rem;
  display: flex;
  gap: 1rem;
  border-bottom: 5px solid #ccac85;
  cursor: pointer;
}
.userName > p {
  font-weight: 500;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid #ccac85;
}
.category > * {
  padding: 1rem 0;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.category > *:hover,
.etcMenu > *:hover {
  font-weight: bold;
  transition: 0.5s;
}

.etcMenu {
  padding: 1.5rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}
.etcMenu * {
  font-size: 16px;
  font-weight: 500;
}
i {
  width: 30px;
  height: 30px;
  text-align: start;
}

.userSetting {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.userSetting > * {
  font-size: 12px;
  font-weight: 400;
}
.userSetting > *:nth-of-type(1) {
  color: #000000;
  border-bottom: 1px solid #000000;
}
.userSetting > *:nth-of-type(2) {
  color: #572e0e;
  border-bottom: 1px solid #572e0e;
}
