.diaryWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  width: -webkit-fill-available;
  height: 100%;
  max-width: 1920px;
  padding: 10px 55px;
  justify-content: center;
}
