.diaryModalWrapper {
  position: sticky;
  bottom: 50px;
  left: -7px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -webkit-fill-available;
  max-width: 100%;
  height: fit-content;
}

.diaryCollectButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  border-radius: 40px;
  background-color: var(--main-2-color);
  font-family: var(--basic-font);
  font-size: 20px;
  font-weight: 400;
  color: white;
}

#diaryWriteButton {
  width: 70px;
  height: 65px;
}
