.section2Wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  margin: 2em auto;
}

.boardList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 40px;
}

.boardFilterWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1920px;
  width: -webkit-fill-available;
  margin: 2em auto;
  height: 30px;
}

.boardFilterWrapper > span:nth-of-type(1) {
  position: absolute;
  width: 64px;
  height: 29px;
  right: 370px;
  top: 10px;
  color: black;
  font-family: var(--basic-font);
  font-size: 24px;
  font-weight: 600;
}

.boardFilterWrapper > span:nth-of-type(2) {
  position: absolute;
  width: 64px;
  height: 29px;
  right: 270px;
  top: 10px;
  color: var(--gray-color);
  font-family: var(--basic-font);
  font-size: 24px;
  font-weight: 600;
}
