.titleToggleWrapper {
  display: flex;
  max-width: 1920px;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 0;
}

.toggleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 70px;
  background-color: var(--main-1-color);
  border-radius: 30px;
  font-family: var(--basic-font);
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.writeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2em;
  background-color: var(--main-1-color);
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.writeIcon > img {
  width: 35px;
  height: 35px;
}
