.todayPopularCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  box-sizing: border-box;
  position: relative;
  width: 460px;
  height: 180px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1.89px solid #f5f5f5;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
  border-radius: 15.3px;
  font-family: var(--basic-font);
}

.todayPopularCardWrapper > p:nth-of-type(1) {
  position: absolute;
  width: 90%;
  height: 32px;
  left: 22.75px;
  top: 24.65px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.todayPopularCardWrapper > p:nth-of-type(2) {
  position: absolute;
  width: 90%;
  height: 54px;
  left: 22.75px;
  top: 72.04px;
  font-weight: 400;
  font-size: 23px;
  text-align: left;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #8f8f8f;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 표시할 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todayPopularCardBottom {
  display: flex;
  position: absolute;
  left: 22.75px;
  top: 135px;
  width: 90%;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  font-family: var(--basic-font);
  font-size: 19px;
  font-weight: 500;
}

.boardInfoSection {
  display: flex;
  /* width: 25%; */
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.likeIconWrapper {
  display: flex;
  align-items: center;
  width: 40px;
  margin-right: 20px;
}

.commentIconWrapper {
  display: flex;
  align-items: center;
  width: 40px;
}

.likeIconWrapper > img,
.commentIconWrapper > img {
  margin-right: 5px;
}

.likeIconWrapper > span {
  color: #ff3d00;
}

.commentIconWrapper > span {
  color: #1976d2;
}

.todayPopularCardBottom > span {
  color: var(--light-gray-color);
}
