section {
  max-width: 1920px;
  width: 80%;
  margin: auto;
}

.myRecord {
  box-shadow: 0px 0px 23.33px 0px #0000001a;
  border-radius: 5px;
  width: 60%;
  margin: 4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  cursor: pointer;
}
.myRecord:hover {
  background-color: #e4e2e2;
  transition: 0.3s;
}
.myRecord > p {
  font-weight: 600;
}
.myRecord .fa-lock {
  display: flex;
  justify-content: center;
  align-items: center;
}
