section {
  max-width: 1920px;
  width: 80%;
  margin: auto;
}

.secretCards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.secretCard {
  box-shadow: 0px 0px 23.33px 0px #0000001a;
  border-radius: 5px;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  cursor: pointer;
}
.secretCard:hover {
  background-color: #e4e2e2;
  transition: 0.3s;
}
.secretCard > p {
  font-weight: 600;
  font-size: 26.92px;
}
.secretCard .fa-lock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26.92px;
}

.secretCardAddBtn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.fa-circle-plus {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 2rem;
  padding: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #849573;
}
.fa-circle-plus:hover {
  transform: scale(1.1, 1.1);
}
