section {
  max-width: 1920px;
  width: 80%;
  margin: auto;
}

.myPageUserName {
  padding: 2rem 0;
  font-size: 3rem;
  font-weight: bold;
}

.userInfoModify {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  width: 10%;
  border-radius: 5px;
}
.userInfoModify:hover {
  background-color: #e4e2e2;
}
.userInfoModify .fa-gear {
  color: #b3b3b3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myPageWrap {
  padding: 4rem 0;
  border-bottom: 5px solid #d0d0d0;
}
