.commentReport_modal {
  position: fixed;
  top: 40%;
  right: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 580px;
  height: 180px;
  padding: 20px 25px;
  background-color: var(--main-2-color);
  border-radius: 20px;

  z-index: 1000;
}

.closeSection {
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: flex-end;
  align-items: center;
}

.closeSection > img {
  width: 25px;
}

.closeSection > img:hover {
  cursor: pointer;
}

.commentReport_modal > div:nth-of-type(2) {
  position: relative;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: var(--basic-font);
  font-weight: 500;
  font-size: 22px;
  color: #fff;
}

#commentReportIcon {
  margin-right: 20px;
}
