.modalCon {
  position: relative;
  width: 32%;
  border-radius: 2rem;
  margin: 2rem auto 2rem auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
}

.fa-xmark {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.passwordTitle {
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  font-weight: bold;
  font-size: 26.92px;
}

.passwordInputCon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 1rem 2rem;
}
.passwordInputCon input {
  border: 1.92px solid #b3b3b3;
  width: 70px;
  height: 70px;
  border-radius: 1rem;
  font-size: 1.5rem;
  outline: none;
  text-align: center;
}
.passwordInputCon input:focus {
  outline: 1px solid #747474;
}

.passwordBtn {
  margin: 1rem 1rem 0 1rem;
  background-color: #849573;
  color: white;
  padding: 5px 3rem;
  width: 150px;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 23.08px;
  border: none;
}

.modalCon a {
  color: #808080;
  border-bottom: 1px solid #808080;
  font-size: 16px;
}
