.modalCon {
  position: relative;
  border: 1px solid red;
  width: 40%;
  border-radius: 1rem;
  margin: 15% auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fa-xmark {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.passwordTitle {
  border: 1px solid red;
  width: 100%;
  text-align: center;
  padding: 1.2rem;
  font-weight: bold;
}

.passwordInputCon {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem 2rem;
}
.passwordInputCon input {
  border: 1px solid #b3b3b3;
  width: 80px;
  height: 80px;
  border-radius: 1rem;
  font-size: 1.5rem;
  outline: none;
  text-align: center;
}
.passwordInputCon input:focus {
  outline: 1px solid #747474;
}
