header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.headerNav {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
.headerNav > h1 {
  border: 1px solid red;
  width: 77px;
  height: 56px;
}
.headerNav .menuCon {
  display: flex;
  gap: 2rem;
}
.menuCon a {
  font-size: 22px;
  font-weight: 400;
}
.menuCon a:hover,
.menuCon a.activeLink {
  font-weight: 600;
  transition: 0.3s;
}

.headerEtcCon {
  position: relative;
  display: flex;
  gap: 1rem;
}
.headerEtcCon * {
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
}
.headerEtcCon .fa-chevron-down {
  position: relative;
}
.searchBar {
  position: absolute;
  right: 11rem;
  bottom: 26px;
  border: none;
  outline: none;
  background-color: #849573;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: small;
  padding: 0.7rem 1rem;
  cursor: auto;
  width: 335px;
}
.searchBar::placeholder {
  color: white;
  font-weight: 500;
  font-size: 16px;
}
