.boardCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  box-sizing: border-box;
  position: relative;
  width: 665px;
  height: 150px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border: 1.89px solid #f5f5f5;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
  border-radius: 15.3px;
  font-family: var(--basic-font);
}

.boardCardWrapper > p:nth-of-type(1) {
  position: absolute;
  width: 90%;
  height: 32px;
  left: 22px;
  top: 24.65px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.boardCardWrapper > p:nth-of-type(2) {
  position: absolute;
  width: 93%;
  height: 54px;
  left: 22px;
  top: 68px;
  font-weight: 400;
  font-size: 23px;
  text-align: left;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
