.card {
  border-radius: 5px;
  box-shadow: 0px 0px 23.33px 0px #0000001a;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-evenly;
  gap: 5px;
  cursor: pointer;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.communityCardTitle {
  font-weight: 600;
  font-size: 32.67px;
  color: black;
}
.communityCardContent {
  color: #8f8f8f;
  font-size: 28px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.reactionCon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.reactionCon .reactionWrap {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.reactionCon .fa-heart,
.reactionCon .heartCount {
  color: #ff3d00;
  font-size: 23.33px;
  font-weight: 400;
}
.reactionCon .fa-heart,
.reactionCon .fa-comment {
  width: 100%;
  font-size: 23.33px;
  font-weight: 400;
}

.reactionCon .fa-comment,
.reactionCon .commentCount {
  color: #1976d2;
  font-size: 23.33px;
  font-weight: 400;
}

.reactionCon .etcCon {
  color: #d0d0d0;
  font-size: 23.33px;
  font-weight: 400;
  padding-top: 5px;
}
.reactionCon * {
  display: flex;
  align-items: center;
  gap: 5px;
}
