.customOptionWrapper {
  position: relative;
  width: 200px;
}

.option__selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  padding: 10px;
  border: 1px solid var(--main-1-color);
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.regionOptions {
  position: absolute;
  top: 105%;
  background-color: white;
  border: 1px solid var(--main-1-color);
  border-radius: 3px;
  z-index: 1;
  width: 100%;
  height: 200px;
  overflow-y: auto;
}

.regionOptions::-webkit-scrollbar {
  /* all: unset; */
  width: 5px;
}

.regionOptions::-webkit-scrollbar-track {
  background: hsl(65, 37%, 88%);
  height: 30px;
}

.regionOptions::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--main-1-color);
}

.regionOption {
  padding: 10px;
  cursor: pointer;
}

.regionOption:hover {
  background-color: var(--main-1-color);
  color: white;
}
