.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 55px;
  width: 815px;
  height: 120px;
  background: #ffffff;
  box-shadow: -4.5px 9px 32px rgba(0, 0, 0, 0.14);
  border-radius: 18px;
  transition: transform 0.5s ease-in-out;
}

.cardContainer:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.cardTitle {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}
