.section1_container {
  display: flex;
  max-width: 1920px;
  justify-content: center;
  margin: 6em auto;
}

.left_wrapper {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 64px 104px;
  gap: 32px;
  position: sticky;
  width: 870px;
  height: 400px;
  left: 20px;
  font-size: 24px;
  font-weight: 500;
}

.left_title {
  font-size: 64px;
  font-weight: 700;
}

#point {
  color: var(--red-color);
}

.right_wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 32px;
  position: relative;
  right: 20px;
  width: 835px;
  height: 400px;
}
