.section2Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  height: 800px;
  margin: auto;
}

.section2Line {
  width: -webkit-fill-available;
  margin-top: 2em;
  border: 2px solid var(--light-gray-color);
}

#section2Title {
  font-family: var(--basic-font);
  font-size: 64px;
  font-weight: 700;
  margin: 4rem auto;
}

.testCardList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
