.searchPageFilterMenuCon {
  position: absolute;
  top: 50px;
  right: 10px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 380px;
  background-color: white;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
  cursor: default;
}

.searchPageFilterMenu {
  display: flex;
  gap: 3rem;
}

.searchPageFilterTitle {
  font-size: 15.6px;
  font-weight: 600;
}

.searchPageFilterItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
}
.searchPageFilterItems li {
  font-size: 13.37px;
  font-weight: 400;
  border: 0.5px solid #b3b3b3;
  text-align: center;
  padding: 0.3rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
.searchPageFilterItems li:hover {
  background-color: #849573;
  color: white;
}

.searchPageFilterBtn {
  background-color: #849573;
  border: none;
  border-radius: 2rem;
  color: white;
  padding: 0.5rem 0;
  width: 60%;
  margin: auto;
  cursor: pointer;
  font-size: 13.37px;
}
